*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(143, 119, 89);
}

.navbar{
    display: flex;
    width: auto;
    position: sticky;
    top: 0;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    width:20%;
    display: felx;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 60%;
    border-radius: 50px;

} 
.nav-list {
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    margin: 15px 11px;
    
}

.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    color: rgba(0, 0, 0, 0.788);
}

.rightnav{
    margin-left: auto;
}
.background{
    background: rgba(82, 35, 3, 0.76) /*url('../img/background.jpg')*/;
    background-size: cover;

}
.coffee_container{
    display: flex;
    justify-content: center;
    background-color:rgba(122, 58, 16, 0.76) ;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.card{
    background-color: #ccc;
    width: 300px;
    
    margin: 10px;
    border-radius: 15px 15px;
}
.card h2{
    text-align: center;
}
.card p{
    padding: 10px;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.03);
}